 .photo-wrap {
     float: left;
     margin-left: 41px;
     margin-top: 41px;
 }
 
 .photo-box {
     border: 10px solid #f6f5f4;
     border-radius: 100%;
     -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
     box-shadow: 0px 0px 1px 1px #d8d7d6;
     width: 152px;
     height: 152px;
     overflow: hidden;
 }
 
 .photo {
     width: 100%;
 }
 
 .image-wrap {
     float: left;
     margin-left: 40px;
     margin-top: 40px;
     margin-bottom: 40px;
 }
 /*Фото - конец*/
 /*Инфо-блок начало*/
 
 .info-box {
     float: right;
     width: 380px;
     padding: 0;
     margin-right: 40px;
     margin-top: 30px;
     list-style-type: none;
 }
 
 .info-list {
     padding: 0;
 }
 
 .info-item {
     list-style-type: none;
     margin-bottom: 5px;
 }
 
 .skills-list {
     list-style-type: none;
     padding: 0;
     margin-left: 20px;
 }
 
 .info-span-bold {
     font-family: 'open_sanssemibold';
     src: url('opensans-semibold-webfont.eot');
     src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('opensans-semibold-webfont.woff2') format('woff2'), url('opensans-semibold-webfont.woff') format('woff'), url('opensans-semibold-webfont.ttf') format('truetype'), url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
     font-weight: normal;
     font-style: normal;
     font-size: 14px;
 }
 
 .info-span-small {
     font-family: 'open_sansregular';
     src: url('opensans-regular-webfont.eot');
     src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('opensans-regular-webfont.woff2') format('woff2'), url('opensans-regular-webfont.woff') format('woff'), url('opensans-regular-webfont.ttf') format('truetype'), url('opensans-regular-webfont.svg#open_sansregular') format('svg');
     font-weight: normal;
     font-style: normal;
     font-size: 14px;
 }
 
 .main-skills {
     margin: 0;
     padding: 0;
     float: left;
 }
 
 .skills-list {
     display: table;
     list-style-type: none;
     padding-left: 20px;
     margin: 0;
 }
 
 .skill {
     display: inline-block;
     margin-right: 25px;
     color: #1e7465;
     font-size: 9px;
     line-height: 1;
     background: url("../img/skill-body.png") center center;
     height: 25px;
     line-height: 25px;
     position: relative;
     padding: 0 6px 0 5px;
     font-family: 'open_sanssemibold';
     src: url('opensans-semibold-webfont.eot');
     src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('opensans-semibold-webfont.woff2') format('woff2'), url('opensans-semibold-webfont.woff') format('woff'), url('opensans-semibold-webfont.ttf') format('truetype'), url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 
 .skill:before {
     display: block;
     content: "";
     position: absolute;
     background: url("../img/skill-before.png");
     width: 12px;
     height: 25px;
     left: -12px;
     top: 0.4px;
 }
 
 .skill:after {
     display: block;
     content: "";
     position: absolute;
     background-image: url("../img/skill-after.png");
     width: 6px;
     height: 25px;
     right: -6px;
     top: 0.4px;
 }
 /*Инфо-блок конец*/
 
 .list-text-expedu {
     margin-bottom: -2px;
 }
 
 .list-text-expedu .expedu-span {
     display: block;
     max-width: 470px;
     margin-left: 96px;
 }
 
 .list-text-expedu .expedu-span:first-child {
     font-family: 'open_sanssemibold';
     src: url('opensans-semibold-webfont.eot');
     src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('opensans-semibold-webfont.woff2') format('woff2'), url('opensans-semibold-webfont.woff') format('woff'), url('opensans-semibold-webfont.ttf') format('truetype'), url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 
 .list-text-expedu .expedu-span:last-child {
     font-family: 'open_sansregular';
     src: url('opensans-regular-webfont.eot');
     src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('opensans-regular-webfont.woff2') format('woff2'), url('opensans-regular-webfont.woff') format('woff'), url('opensans-regular-webfont.ttf') format('truetype'), url('opensans-regular-webfont.svg#open_sansregular') format('svg');
     font-weight: normal;
     font-style: normal;
 }


 .list-text-expedu {
     max-width: 560px;
     margin-top: 5px;
 }
 
 .list-text-expedu:before {
     content: "";
     float: left;
     height: 53px;
     width: 53px;
     top: 50%;
 }
 
 .work-exp:before {
     background: url(../img/spritesheet.png) -5px -5px;
 }
 
 .school:before {
     background: url(../img/spritesheet.png);
 }
 
 .university:before {
     background: url(../img/spritesheet.png) -384px -5px;
 }
 
 .courses:before {
     background: url(../img/spritesheet.png) -320px -5px;
 }
 
 .list-text-expedu:after {
     content: "";
     height: 2px;
     max-width: 560px;
     display: block;
     box-shadow: 0px -1px 1px rgba(128, 128, 128, .3), 0px 0px 1px rgba(255, 255, 255, .5);
     margin-top: 36px;
     margin-bottom: 20px;
 }
 
 .list-text-expedu:last-child:after {
     content: "";
     height: 0px;
 }
 
 .expedu-wrap {
     list-style-type: none;
 }
