html {
    height: 100%;
}

body {
    height: 100%;
    color: #4a545d;
    background: url(../img/bg.jpg) no-repeat center fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/*Header - начало*/

.head-wrap {
    max-width: 1200px;
    min-width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.page-header {
    background-color: #706e6e;
    height: 90px;
    width: 100%;
    position: relative;
    margin-bottom: 35px;
}

.page-header:after {
    content: "";
    height: 7px;
    background-color: #ffffff;
    display: block;
}

.page-header .header-logo-link {
    position: absolute;
    top: 10px;
    left: 0;
}

.page-header .header-logo-text {
    position: absolute;
    left: -9999px;
}

.page-header .socials {
    position: absolute;
    right: 0;
    top: 25px;
}


/*Header - конец*/


/*Icons - начало*/

.socials {
    margin: 0;
    padding: 0;
    /* min-width: 250px;*/
}

.socials .social-icon {
    list-style: none;
    display: inline-block;
    height: 44px;
    width: 42px;
    margin-left: 10px;
}

.socials .social-icon:first-child {
    margin-left: 0;
}

.socials .social-link {
    display: block;
    height: 44px;
    width: 42px;
    text-indent: -9999px;
}

.fb {
    background: url(../img/finsp.png);
    background-position: -5px -5px;
}

.fb:hover {
    background: url(../img/finsp.png);
    background-position: -57px -5px;
}

.vk {
    background: url(../img/finsp.png);
    background-position: -5px -113px;
}

.vk:hover {
    background: url(../img/finsp.png);
    background-position: -57px -113px;
}

.tw {
    background: url(../img/finsp.png);
    background-position: -109px -5px;
}

.tw:hover {
    background: url(../img/finsp.png);
    background-position: -109px -59px;
}

.git {
    background: url(../img/finsp.png);
    background-position: -5px -59px;
}

.git:hover {
    background: url(../img/finsp.png);
    background-position: -57px -59px;
}


/*Icons - конец*/


/*Контент - начало*/

.content {
    width: 650px;
    margin-bottom: 35px;
    background: #f6f5f4;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    overflow: hidden;
}

.main-content-wrapper {
    margin-left: 60px;
    width: 650px;
    float: left;
}


/*Контент - конец*/


/*Эффекты контента -начало*/

.content-header {
    margin: 0;
    padding-left: 44px;
    padding-top: 15px;
    height: 55px;
    display: block;
    /*border-radius: 6px 6px 0 0;*/
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    background-image: -moz-linear-gradient( 90deg, rgb(123, 120, 120) 0%, rgb(169, 168, 168) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(123, 120, 120) 0%, rgb(169, 168, 168) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(123, 120, 120) 0%, rgb(169, 168, 168) 100%);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    font-family: "open_sanssemibold" sans-serif;
    font-size: 24px;
    color: rgb(238, 237, 236);
    line-height: 0.917;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.004);
}


/*Эффекты контента -конец*/


/*Навигация - начало*/

.menu-wrapper {
    width: 250px;
    float: left;
}

.main-content {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.navigation {
    display: block;
    float: left;
    width: 250px;
    height: 170px;
    background: #f8f7f6;
    margin-bottom: 35px;
    border: 1px solid #c3c3c3;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    overflow: hidden;
}

.contacts {
    display: block;
    float: left;
    clear: left;
    width: 250px;
    background: #f9f9f9;
    margin-bottom: 35px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    overflow: hidden;
}

.navigation-item {
    list-style-type: none;
    height: 57px;
    width: 250px;
    background-image: -moz-linear-gradient( 90deg, rgb(233, 230, 229) 0%, rgb(251, 249, 249) 94%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(233, 230, 229) 0%, rgb(251, 249, 249) 94%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(233, 230, 229) 0%, rgb(251, 249, 249) 94%, rgb(255, 255, 255) 100%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07), inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}

.contacts-list-item {
    list-style-type: none;
}

.navigtion-list {
    margin: 0;
    padding: 0;
}

.navigation-link {
    display: block;
    height: 57px;
    width: 250px;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #c3c3c3;
    font-size: 20px;
    font-family: "open_sanssemibold" sans-serif;
    color: #727070;
    line-height: 1.1;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.navigation-link:hover {
    background-image: -moz-linear-gradient( 90deg, rgb(194, 192, 192) 0%, rgb(227, 225, 225) 87%, rgb(230, 228, 228) 90%, rgb(232, 231, 231) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(194, 192, 192) 0%, rgb(227, 225, 225) 87%, rgb(230, 228, 228) 90%, rgb(232, 231, 231) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(194, 192, 192) 0%, rgb(227, 225, 225) 87%, rgb(230, 228, 228) 90%, rgb(232, 231, 231) 100%);
    box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}


/*Навигация - конец*/


/*Блок контактов - начало*/

.contacts-list {
    padding: 0;
    margin: 0;
}

.navigtion-list .navigation-item.current {
    background-image: -moz-linear-gradient( 90deg, rgb(62, 183, 153) 0%, rgb(126, 232, 206) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(62, 183, 153) 0%, rgb(126, 232, 206) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(62, 183, 153) 0%, rgb(126, 232, 206) 100%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}

.contacts-header {
    display: block;
    margin: 0;
    padding-left: 27px;
    padding-top: 12px;
    height: 43px;
    background-image: -moz-linear-gradient( 90deg, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
    background-image: -webkit-linear-gradient( 90deg, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
    background-image: -ms-linear-gradient( 90deg, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
    font-size: 20px;
    font-family: "open_sanssemibold" sans-serif;
    color: rgb(208, 152, 44);
    line-height: 1.1;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.contacts-list-item {
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 213, 211);
    background-image: -moz-linear-gradient( 90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
}

.contacts-link {
    display: block;
    height: 38px;
    width: 250px;
    text-decoration: none;
    line-height: 1.2;
    color: #727070;
    font-family: "open_sanssemibold" sans-serif;
}

.contacts-link:hover {
    background-image: -moz-linear-gradient( 90deg, rgb(224, 197, 145) 0%, rgba(251, 249, 249, 0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(224, 197, 145) 0%, rgba(251, 249, 249, 0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(224, 197, 145) 0%, rgba(251, 249, 249, 0) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
}

.phone-item:before {
    content: "";
    display: block;
    float: left;
    margin-left: 20px;
    width: 40px;
    height: 38px;
    background: url(../img/spritesheet.png) -527px -5px;
}

.skype-item:before {
    content: "";
    display: block;
    float: left;
    margin-left: 20px;
    width: 40px;
    height: 38px;
    background: url(../img/spritesheet.png) -705px -5px;
}

.mail-item:before {
    content: "";
    display: block;
    float: left;
    margin-left: 20px;
    width: 40px;
    height: 38px;
    background: url(../img/spritesheet.png) -477px -5px;
}

.contacts-content-span {
    display: block;
    float: left;
    width: 20px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 0;
}


/*Блок контактов - конец*/


/*Футер внизу - начало*/

.wrapper {
    position: relative;
    min-height: 100%;
    min-width: 970px;
    height: auto!important;
}

.wrapper:after {
    content: "";
    height: 61px;
    display: block;
    clear: both;
    z-index: 1;
}

.page-footer {
    display: block;
    min-width: 970px;
    height: 61px;
    margin-top: -61px;
    background-color: #fff;
}


/*Футер внизу - конец*/


/*Футер контент - начало*/

.footer-wrap {
    height: 50px;
    width: 960px;
    padding-left: 200px;
    margin: 0 auto;
}

.login {
    display: inline-block;
    height: 30px;
    width: 60px;
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 10px;
}

.footer-content {
    display: inline-block;
    float: left;
    margin: 0;
    padding-left: 30px;
    padding-top: 17px;
    font-family: "open_sanslight" sans-serif;
    font-size: 12px;
}

.login-link {
    display: inline-block;
    float: left;
    margin-top: 10px;
    padding-left: 30px;
    padding-top: 7px;
    text-decoration: none;
    font-family: "open_sansbold" sans-serif;
    font-size: 14px;
    color: #9c9c9c;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.85);
    cursor: pointer;
    z-index: 200;
    background: url(../img/locked.png) no-repeat;
    background-position: left center;
}

.login-link:hover {
    background: url(../img/unlocked.png) no-repeat left center;
}


/*Футер контент - конец*/
