.modal-wrapper {
    width: 363px;
    margin: 0 auto;
    margin-top: 2%;
    display: none;
}

.modal-header {
    float: left;
    padding-left: 22px;
    padding-bottom: 5px;
    background-color: transparent;
    font-size: 12px;
    font-family: 'open_sanslight', sans-serif;
    color: rgb(248, 247, 246);
    line-height: 1.2;
    text-align: left;
}

.modal-title {
    margin: 0;
}

.b-close {
    float: right;
    margin-right: 5px;
    margin-top: -7px;
    height: 14px;
    width: 14px;
    background-image: url(../img/close-button.png);
    background-repeat: no-repeat;
}

.b-close:hover {
    cursor: pointer;
}

.add-new-form {
    margin: 5px;
}


/*Текст лэйблов начало*/

.modal-label {
    display: block;
    font-size: 14px;
    font-family: 'open_sansregular', sans-serif;
    color: rgb(114, 112, 112);
    line-height: 1.2;
    margin-left: 18px;
    margin-bottom: 10px;
}


/*Текст лэйблов конец*/


/*Инпуты начало*/

.input-item-add-new {
    display: inline-block;
    border-width: 1px;
    border-color: rgb(72, 203, 232);
    border-style: solid;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 213, 211);
    border-radius: 4px;
    background-image: -moz-linear-gradient( 90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
    width: 320px;
    height: 40px;
    margin-left: 18px;
    font-size: 12px;
    font-family: 'open_sansregular', sans-serif;
    color: rgb(199, 198, 198);
    line-height: 1.2;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 4px;
}

.text-item {
    height: 110px;
    resize: none;
    padding-top: 9px;
}


/*Инпуты конец*/


/* Сабмит начало*/

.submit-button {
    display: block;
    float: left;
    width: 120px;
    height: 38px;
    margin-left: 111px;
    margin-top: 5px;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb(67, 183, 150) 0%, rgb(128, 232, 203) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(67, 183, 150) 0%, rgb(128, 232, 203) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(67, 183, 150) 0%, rgb(128, 232, 203) 100%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    font-family: 'open_sanssemibold', sans-serif;
}

.submit-button:hover {
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb(58, 160, 135) 0%, rgb(95, 220, 189) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(58, 160, 135) 0%, rgb(95, 220, 189) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(58, 160, 135) 0%, rgb(95, 220, 189) 100%);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}


/* Сабмит конец*/

.modal-body {
    /*    padding-top: 10px;*/
    float: left;
    width: 363px;
    height: 463px;
    padding-top: 18px;
    border-radius: 5px;
    box-shadow: 0px 11px 27px 0px rgba(159, 159, 159, 0.75), inset 0px 6px 6px 0px rgba(255, 255, 255, 0.004);
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}
